pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
/resources/public/
*.swp
.cljs_node_repl

/deployed/
/output/
.classpath
.planck-cache

.DS_Store
/node_modules/

out
epub

/docset/*.docset
/docset/*.tgz

/.cpcache
/docset.js
