{:paths ["src"]
 :deps {org.clojure/clojure    {:mvn/version "1.10.3"}
        org.clojure/java.jdbc  {:mvn/version "0.3.0-alpha4"}
        org.xerial/sqlite-jdbc {:mvn/version "3.7.2"}
        clj-commons/fs         {:mvn/version "1.6.307"}}
 :aliases
 {:run {:main-opts ["-m" "docset.main"]}}}
